body {
    font-family: Arial, sans-serif;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ff9966;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  .popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 153, 102);
  }
  .popup-buttons {
    text-align: center;
    margin-top: 10px;
  }

table{
    width: 80%;
}  
#serial{
    width: 3rem;
}
#statuscolumn{
    width: 7rem;
}

.glassmorphism-section {
    height: 97.7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    backdrop-filter: blur(20px);
    background-color: rgba(58, 158, 235, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;
    z-index: 1;
}

.glassmorphism-circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.circle-1 {
    top: -20%;
    left: 5%;
    background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6);
    height: 550px;
    width: 550px;
}

.circle-2 {
    bottom: -20%;
    right: 70%;
    background: #bc4e9c;
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
    background: linear-gradient(to right, #f80759, #bc4e9c);
    height: 400px;
    width: 400px;
}

.circle-3 {
    top: 20%;
    right: 2%;
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    height: 500px;
    width: 500px;
}

.glassmorphism-card>i {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 2.5rem;
}

.glassmorphism-card>div>p {
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-top: 10px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.glassmorphism-card>p {
    position: absolute;
    bottom: 10%;
    fill: #fff;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.glassmorphism-card>div>h1 {
    font-weight: lighter;
    font-size: 16px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: #68b2e1;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.glass{
    overflow: auto;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 70rem;
    height: 36rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.glass::-webkit-scrollbar {
    width: 12px;
}

.glass::-webkit-scrollbar-thumb {
    background-color: #14110757; /* Green thumb color */
    border-radius: 10px;
}

.glass::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Grey track color */
    border-radius: 0.5rem;
}
.head{
    font-size: xxx-large;
    font-weight: 50;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: #111b2d; */
    margin-bottom: 1rem;
    color: #dddddd;
}

@media screen and (max-width: 600px) {
    /* Adjust table width */
    table {
        width: 20rem;
    }

    /* Adjust font sizes */
    .head {
        font-size: 2rem;
        /* margin-bottom: 1rem; */
    }

    th, td {
        padding: 4px;
        /* font-size: x-small; */
        font-size: 0.67rem;
    }

    /* Adjust dropdown width */
    .dropdownbox {
        width: 50px;
    }

    /* Adjust popup box width */
    .popup-box {
        width: 50%;
    }
    .glass{
        padding-top: 1rem;
        padding-left: 2.7rem;
    }
}